services:
  db:
    image: postgres:15-alpine
    container_name: it_ops_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./internal/models/schema.sql:/docker-entrypoint-initdb.d/init.sql
  redis:
    image: redis/redis-stack:latest
    container_name: it_ops_redis
    restart: always
    ports:
      - "6379:6379"
      - "8001:8001"
    volumes:
      - redis_data:/data
volumes:
  postgres_data:
  redis_data:
